/.idea
/cmake-build-debug
/cmake-build-release
/cmake-build-minsizerel
/cmake-build-relwithdebinfo

./SDL
./vk-bootstrap
./imgui

/build/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake

*.o
